/*Estilos generales*/

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body{
    background-color: #9b9b9b;
    opacity: 0.8;
    
}

/*enlaces*/
a{
    color: #01b1ea
}

a:visited{
    color: #01b1ea
}

a:hover{
    color: #636363;
}
/*container*/
#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}
/*Header*/
#header{
    height: 180px;
    background: #0f0f0f;
}


#logo{
    float: left;
    padding: 0px;
    margin-left: 0px;
}
#logo img{
    float: left;
    height: 180px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    color: #01B1EA;
    text-decoration: none;
    margin-top: 60px;
    margin-left: 25px;
    transition: all 300ms;
}

/**Menu**/

#menu{
    clear: both;
    background: #222222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
}

#menu ul{
    list-style: none ;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
    text-decoration: none;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #363636;
}

#menu a:hover{
    background: #01B1EA;
}

/*content*/

#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

/*barra lateral*/

#lateral{
    width: 25%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA ;
}

#lateral ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

#lateral ul li{
    list-style: none;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}


/*FORM*/
label,
input [type="text"],
input[type="password"],
input[type="email"],
select{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input [type="text"],
input[type="password"],
input[type="email"],
select{
    border: 1px solid c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: whitesmoke;
    padding: 2px;
    color:gray;
    transition: all 300ms;
}

input [type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
button{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979cd;
    border: 1px solid #11608e;
    cursor: pointer;
}

label,
input[type="button"],
input[type="submit"],
button{
    display: block;
    margin-top: 10px;   
   }


.product img{
    width: 100px;
}